.allcharts {
  display: grid;
  max-width: 100%;
  grid-gap: 5px;
}

.stackedBar,
.groupedBarWithThresholds,
.timeSeries,
.dswb-c3Viz {
  background-repeat: no-repeat;
  background-position: center;
}

/* ---- Tooltips ----- */
.c3 text,
.c3-tooltip {
  fill: var(--prime_txt_body);
  color: var(--sec_bg_2);
  border-color: var(--sec_bg_2);
}

.c3 .c3-tooltip th {
  color: var(--sec_txt_heading_main);
  background-color: var(--sec_bg_2);
}

.c3 .c3-tooltip tr {
  border-color: var(--sec_bg_8);
}

.c3 .c3-tooltip td {
  color: var(--prime_txt_body_strong);
  background-color: var(--prime_bg_1);
  border-left-color: var(--sec_bg_8);
}

.c3-legend-item,
.c3-tooltip th,
.c3-tooltip td {
  font-size: 11px;
}

@media only screen and (max-height: 250px) {
  g.c3-axis-y g.tick:nth-child(odd),
  g.c3-axis-y2 g.tick:nth-child(odd) {
    visibility: hidden;
  }
}
/*
.c3-axis .domain,
.c3-axis .tick line {
  stroke: var(--prime_chart_axis);
}

.c3-axis .tick text {
  fill: var(--prime_chart_axis_tick_text) !important;
}

.c3 text,
.tick text {
  stroke: var(--color_green);
  stroke-opacity: 0.5;
  stroke-width: 0.5px;
}

.c3-bars path,
.c3-event-rect,
.c3-legend-item-tile,
.c3-xgrid-focus,
.c3-ygrid {
  fill: var(--series_1) !important;
}

.c3 .c3-axis-y-label {
  fill: var(--series_1_axis_label) !important;
}

.c3 .c3-axis-y2-label {
  fill: var(--series_2_axis_label) !important;
}

.c3-shape,
.c3-shape-0,
.c3-circle,
.c3-circle-0 {
  fill: var(--series_2) !important;
  stroke: var(--series_2_outline) !important;
}

.c3 .c3-legend-item.c3-legend-item-data1 text,
.c3 .c3-legend-item.c3-legend-item-data2 text {
  font-style: italic;
  fill: var(--prime_chart_axis_sub_label);
}

.c3-legend-item.c3-legend-item-data1 .c3-legend-item-tile {
  stroke: var(--series_2) !important;
}

.c3-legend-item.c3-legend-item-data2 .c3-legend-item-tile {
  stroke: var(--series_1) !important;
}
*/