.axis,
.tick text {
  font-size: 0.6rem;
}

.axis .domain {
  stroke-width: 0;
}

.legendTitle,
.axisLabel {
  font-weight: 300;
  stroke-width: 0.5px;
}

.legendWrapper .legendTitle {
  font-size: 1.2rem;
  fill: var(--prime_chart_axis_label_strong);
  stroke: var(--prime_bg_0_overlay);
}

.axis .axisLabel {
  font-size: 0.8rem;
  fill: var(--prime_chart_axis_label);
  stroke: var(--prime_bg_0_overlay);
}