/* LAYOUT */

.fixed-header {
  height: 8rem;
}

h3 {
  margin: 0;
}

section {
  height: calc(100% - 5rem);
  min-height: calc(100% - 5rem);
  max-height: calc(100% - 5rem);
}

.chart-grid {
  height: calc(100vh - 5rem);
  width: 100%;
  min-width: 45rem;
  padding: 0;
  margin: 0 auto;
}

/* chart grid layout */

#resource-aggregate-waterfall-wrapper.chart-grid {
  grid-template-columns: 14rem 1fr 14rem;
  grid-template-rows: 0 1fr 4.5rem;
}
/* central scrolling flex box columns  */
/* [axis-y-left] chart axis-y-right */
#resource-aggregate-waterfall-wrapper .chart-row-flex > div:nth-child(1) {
  flex: 1 1 14rem;
}
/* axis-y-left [chart] axis-y-right */
#resource-aggregate-waterfall-wrapper .chart-row-flex > div:nth-child(2) {
  flex: 1 1 calc(100% - 28rem);
}
/* axis-y-left chart [axis-y-right] */
#resource-aggregate-waterfall-wrapper .chart-row-flex > div:nth-child(3) {
  flex: 1 1 14rem;
}

.fixed-header hgroup {
  padding-bottom: 0;
}

/* CHART */

.axis-y-left-container {
  border-right: none;
}

.axis-y-right .tick text {
  font-size: 0.65rem;
  opacity: 1;
  fill: var(--prime_chart_axis_tick_text);
}

.axis-y-right .tick.pinned text {
  opacity: 1 !important;
  fill: var(--prime_txt_body_strong) !important;
  stroke: var(--prime_bg_0_overlay) !important;
  stroke-width: 0.25rem;
  paint-order: stroke;
}

.axis-y-right .tick.over text,
.axis-y-left .tick.over text,
.axis-y-right .tick:hover text,
.banded-scale-item-selected .axis-y-left .tick:hover text,
.axis-y-left-selected-unstacked-item-stacked-text:not(.invisible),
.axis-y-right-selected-stacked-item-unstacked-text:not(.invisible) {
  opacity: 1 !important;
  fill: var(--prime_txt_body_semi_strong) !important;
}

.axis-y-right .tick.over text,
.axis-y-left .tick.over text,
.axis-y-right-selected-stacked-item-unstacked-text:not(.invisible) {
  transition: opacity 0.1s ease-in-out;
}

.axis-y-right .tick:hover text,
.banded-scale-item-selected .axis-y-left .tick:hover text,
.axis-y-left-selected-unstacked-item-stacked-text:not(.invisible) {
  transition: opacity 0s;
}
