/* LAYOUT */

.fixed-header {
  height: 8rem;
}

h3 {
  margin: 0;
}

section {
  height: calc(100% - 5rem);
  min-height: calc(100% - 5rem);
  max-height: calc(100% - 5rem);
}

.chart {
  height: calc(100vh - 5rem);
  padding: 0;
  margin: 0 auto;
  position: relative;
}

.switch {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
}

/* CHART */

text:not(.root-node-text) {
  pointer-events: none;
}

.node {
  cursor: pointer;
}

.node:not(.node-root):hover rect {
  stroke: var(--prime_txt_heading_strong);
  stroke-width: 1.5px;
  stroke-dasharray: 4, 6;
}

.node tspan {
  font-weight: 200;
  font-style: italic;
  fill: var(--prime_txt_body_semi_strong);
}

.zoomed-hierarchy-button {
  pointer-events: all;
  cursor: pointer;
  display: inline-block;
  fill: var(--prime_txt_body_strong);
}

.zoomed-hierarchy-button:not(:last-of-type):hover {
  fill: var(--prime_txt_heading_strong);
  text-decoration: underline;
}

.node-leaf tspan {
  font-weight: 400;
  font-style: normal;
  text-anchor: end;
  fill: var(--prime_button_txt_hover);
}

.node-leaf:hover tspan {
  fill: var(--prime_button_txt_active);
}

.node-rect {
  stroke-dasharray: 1000, 1000;
  stroke-dashoffset: 1000;
  animation: none;
}

.percentile-input {
  position: absolute;
  left: 1rem;
  bottom: 2rem;
}

.tick:first-of-type line {
  stroke: var(--color_none) !important;
}