.chart {
  height: calc(100vh);
  padding: 0;
  margin: 0 auto;
}

.role-legend-label text {
  font-size: 0.85rem !important;
}

.role-legend-symbol path,
.donutSegmentMark path {
  cursor: pointer;
}

.donutSegmentText text {
  font-size: 0.85rem !important;
}

.role-mark text {
  pointer-events: none !important;
}

.role-legend-title text {
  font-size: 1rem !important;
}

/* COLORS */

g.mark-text.role-axis-label.legendLabel > text,
g.mark-text.role-axis-label > text {
  fill: var(--prime_chart_axis_tick_text) !IMPORTANT;
}

g.mark-rule.role-axis-tick > line {
  stroke: var(--prime_chart_axis_ticks) !IMPORTANT;
}

g.mark-text.role-axis-title > text {
  fill: var(--prime_chart_axis_label) !IMPORTANT;
}

g.mark-text.role-title > text {
  fill: var(--prime_txt_heading) !IMPORTANT;
  font-weight: 300 !IMPORTANT;
  font-size: 1rem !IMPORTANT;
}

g.mark-rule.role-axis-domain > line {
  stroke: var(--prime_chart_axis) !IMPORTANT;
}