:root {
  --sidebar-width: 16rem;
}

/* BODY */

html,
body {
  overflow: auto !IMPORTANT;
  font-weight: 400;
  scroll-behavior: smooth;
  background-color: var(--prime_bg_2);
  min-width: 901px;
}

/* MAIN CONTAINER */

.whatif-container h2 {
  font-size: 1.8rem;
  color: var(--prime_txt_heading_main);
  text-align: left;
  font-weight: 300;
}

.whatif-well {
  border-radius: 0.5rem;
  background-color: var(--prime_bg_0);
  margin-top: 1rem;
}

.whatif-section {
  padding: 0.5rem;
  page-break-after: always;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#whatif-summary-prose {
  font-size: 125%;
  font-weight: 300;
}

.whatif-section p {
  margin-bottom: 0;
}

.whatif-change {
  font-style: italic;
  font-size: 70%;
  font-weight: 300;
}

.whatif-change-positive {
  color: var(--color_value_change_positive) !IMPORTANT;
}

.whatif-change-negative {
  color: var(--color_value_change_negative) !IMPORTANT;
}

.whatif-change-neutral {
  color: var(--prime_interactive) !IMPORTANT;
}

.whatif-change-up::before {
  content: '+';
}

.whatif-change-down::before {
  content: '-';
}

.whatif-emphasis::before {
  font-size: 1.2rem;
}

.whatif-emphasis {
  color: var(--prime_txt_body_strong);
  font-style: italic;
  font-size: 105%;
  line-height: 1;
}

/* NAVIGATION */

#whatif-nav {
  padding: 1rem 2rem 1rem 1.4rem;
  background-color: var(--prime_bg_4);
  overflow-x: hidden;
  font-weight: 300;
  /* box-shadow: 0 0 1rem 0 var(--prime_shadow_6);*/
}

#whatif-nav
h1,
ul {
  padding-left: 0;
}

#whatif-nav h1 {
  font-size: 1.8rem;
  text-align: left;
  font-weight: 300;
}

#whatif-nav ul {
  list-style-type: none;
}

#whatif-nav li a {
  padding: 1px;
  color: var(--prime_txt_body_strong);
  display: block;
  font-size: 1.25rem;
  display: inline;
}

/* CHARTS */

.whatif-graph-container {
  padding-top: 1rem;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

/* NARROW VIEWPORTS */

@media screen and (max-width: 1200px) {
  .whatif-container {
    padding: 2rem 2rem 1rem 1.5rem;
    margin-left: 0;
    width: 100%;
  }
  #whatif-nav {
    width: 100%;
    padding-left: 2.5rem !important;
  }
  .whatif-container {
    height: 100%;
  }
}

@media screen and (min-width: 1201px) {
  .whatif-container {
    margin-left: 17rem;
    padding-left: 1rem;
  }
  #whatif-nav {
    height: 100vh;
    width: 17rem;
    position: fixed;
  }
}

.vega-chart {
  width: 100%;
  user-select: none;
}

.vega-chart.with-chart-summary {
  float: left;
  width: calc(100% - var(--sidebar-width));
}

.chart-summary {
  float: left;
  width: var(--sidebar-width);
  display: flex;
  padding-top: 40px;
  padding-bottom: 80px;
}

.summary-metrics {
  display: flex;
  flex-direction: column;
}

.metric-slider-wide {
  width: calc(100% - 25px);
}

.metric-slider-wide .metric-change-slider {
  width: calc(100% - var(--sidebar-width) - 50px);
}

#loadtime_slider .metric-change-slider {
  position: relative;
  right: calc(100% / -2.5);
}

.slider-wide {
  width: 100%;
}

.summary-metric {
  padding: 0.2rem 0;
  flex-grow: 1;
  display: flex;
}

.metric-sliders .summary-metric {
  padding-bottom: 20px;
}

.summary-metric-name {
  font-size: 110%;
}

#breakdown-possibility-values .summary-metric-name {
  white-space: nowrap;
}

.summary-metric-name-inline {
  float: left;
  margin-top: 1rem;
  padding-right: 1rem;
}

.summary-metric-value {
  font-size: 125%;
  font-weight: 400;
  margin-top: -10px;
}

.summary-metric-change {
  clear: both;
  font-size: 90%;
  margin-top: -10px;
}

.summary-metric-value {
  color: var(--prime_txt_body);
}

.metric-change {
  width: 2.5rem;
  /* explicitly set min-width to avoid squashing by flex-shrink */
  min-width: 2.5em;
  height: 2.5rem;
  margin-top: 0.75rem;
  float: left;
}

.summary-metric-values {
  padding: 0 0.7rem;
  display: inline-block;
}

.breakdown-summary-container .summary-metric-values {
  margin: -0.25rem 0 0 0.7rem;
}

.summary-metric-slider-values {
  position: absolute;
}

.summary-metric-values-inline {
  margin-top: 1.25rem;
}

.metric-change-slider {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.7rem;
}

.metric-change-slider-wide .summary-metric-name {
  float: left;
  padding-top: 1.25rem;
  padding-right: 1rem;
}

.metric-change-neutral {
  fill: var(--prime_interactive);
}

.metric-change-positive {
  fill: var(--color_value_change_positive);
}

.metric-change-negative {
  fill: var(--color_value_change_negative);
}

.flex-wide {
  margin-left: 55px;
  width: calc(100% - var(--sidebar-width) - 80px);
}

/* TABS */

.radio-tabs .state {
  position: absolute;
  left: -10000px;
}

.radio-tabs .tabs {
  text-align: center;
  padding-top: 1rem;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: 400;
}

.radio-tabs .tab {
  display: inline-block;
  padding: 0;
  margin: 0 1rem 0 1rem;
  vertical-align: top;
  cursor: hand;
  cursor: pointer;
  color: var(--prime_txt_body_strong);
}

.tabs .tab:hover {
  border-bottom: 0.2rem solid var(--prime_shadow_1);
}

#summary-input:checked ~ .tabs #summary-tab,
#possibility-input:checked ~ .tabs #possibility-tab {
  border-bottom: 0.2rem solid var(--prime_txt_body_faint);
  cursor: default;
}

.radio-tabs .panels {
  position: relative;
  width: 100%;
}

.radio-tabs .panel {
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100%;
  transition: opacity 0.5s;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.radio-tabs .panel.active {
  position: relative;
}

#summary-input:checked ~ .panels #summary-panel,
#possibility-input:checked ~ .panels #possibility-panel {
  opacity: 1;
  z-index: 1;
}

#possibility-panel {
  top: -1rem;
}

@media print {
  .whatif-container {
    margin-left: 0;
    width: 100%;
    padding: 1rem;
  }
  #whatif-nav {
    width: 100%;
    position: relative;
  }
  #whatif-nav ul {
    display: none;
  }
  #whatif-nav h1 {
    text-align: center;
  }
  section {
    page-break-after: always;
  }
  .vega-chart {
    width: 80vw;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}

.input-unit {
  font-size: 125%;
  line-height: 2rem;
  font-weight: 400;
  opacity: 1;
  pointer-events: none;
}

.input-with-unit {
  margin-top: -10px;
}

.input-with-unit .summary-metric-value {
  appearance: none;
  margin-right: -0.75rem;
  outline: 0;
  border: 0;
}

/* Firefox doesn't automatically size input elements */
@-moz-document url-prefix() {
  .input-with-unit .summary-metric-value {
    max-width: 5rem;
  }
}
.input-with-unit .summary-metric-value:hover,
.input-with-unit .summary-metric-value:active,
.input-with-unit .summary-metric-value:focus {
  border-bottom: 1px solid var(--prime_interactive);
}

.input-with-unit .summary-metric-value::-webkit-inner-spin-button,
.input-with-unit .summary-metric-value::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.summary-metric-values:hover .summary-metric-hints,
.summary-metric-values:active .summary-metric-hints,
.summary-metric-values:focus .summary-metric-hints {
  opacity: 1;
}

input:invalid {
  box-shadow: 0 0 1px 1px var(--color_red);
}

input[type="number"] {
  background-color: var(--prime_bg_0);
}

.summary-metric-hints {
  font-size: 70%;
  font-style: oblique;
  opacity: 0;
  margin-top: 10px;
  margin-bottom: -8px;
}

.breakdown-container {
  width: 100%;
  padding: 0.25rem 0;
  min-height: 45px;
}

.breakdown-container:nth-child(odd) {
  background: var(--prime_bg_1);
}

.breakdown-container:last-child {
  padding-bottom: 4rem;
}

.breakdown-chart-container {
  width: calc(100% - 2 * var(--sidebar-width));
  float: left;
}

.breakdown-name-container {
  width: calc(var(--sidebar-width) - 1rem);
  float: left;
  padding: 0 0 0 1rem;
  height: calc(100% - 0.25rem);
}

.breakdown-summary-container {
  float: left;
}

.breakdown-slider {
  width: 100%;
}

.breakdown-summary-container h3 {
  text-align: left;
  font-weight: 400;
  font-style: oblique;
  margin-bottom: 0;
}

.btn {
  color: var(--prime_button_txt_active);
  background-color: var(--prime_button);
  padding: 0.4rem;
  cursor: pointer;
}

.btn:hover {
  color: var(--prime_button_txt);
  background-color: var(--prime_button_hover);
}

.btn:active {
  background-color: var(--prime_button_active);
}

.btn-center {
  margin: 1rem auto;
}

.breakdown-section {
  padding: 1rem;
  width: 100%;
}

#breakdown-header {
  padding-bottom: 0;
}

.breakdown-section.bottom-border {
  border-bottom: 0.25rem solid var(--prime_bg_2);
}

.breakdown-possibility-values {
  padding: 0 1rem;
  width: 100%;
  border-bottom: 0.25rem solid var(--prime_bg_2);
}

.breakdown-possibility-values .summary-metric:not(:last-child) {
  margin-right: 0.5rem;
  border-right: 0.25rem solid var(--prime_bg_2);
}

.breakdown-possibility-values .summary-metrics {
  margin: 0 auto;
  flex-direction: row;
  overflow-x: scroll;
}

.vega-chart.with-slider {
  margin-bottom: -20px;
}

.disabled-link {
  color: var(--prime_txt_body_faint) !important;
  cursor: default;
  text-decoration: none;
  float: left;
  padding-right: 0.5rem !important;
}
.loading-bar::after {
  display: block;
  position: relative;
  content: "";
  width: 100%;
  top: -8px;
  height: 0.15rem;
  background-color: var(--prime_txt_body_strong);
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}

#breakdown-holding {
  display: inline;
}

::-webkit-scrollbar {
  width: 0.95rem;
  opacity: initial !important;
  display: initial !important;
  visibility: initial !important;
  height: initial !important;
}

::-webkit-scrollbar-track {
  background-color: var(--color_transparent);
  border-radius: 4rem;
  background-clip: content-box;
  border: 0 solid var(--color_transparent);
  border-width: 0.3rem;
  opacity: initial !important;
  display: initial !important;
  visibility: initial !important;
  height: initial !important;
}
::-webkit-scrollbar-track:hover {
  background-color: var(--prime_shadow_1);
}

::-webkit-scrollbar-thumb {
  background-color: var(--prime_bg_7_overlay);
  border-radius: 4rem;
  background-clip: content-box;
  border: 0 solid var(--color_transparent);
  border-width: 0.3rem;
  cursor: pointer;
  opacity: initial !important;
  display: initial !important;
  visibility: initial !important;
  height: initial !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--prime_txt_body_faint);
}

::-webkit-scrollbar-corner {
  background-color: var(--color_transparent);
}

.annotation-bubble.tooltip.component {
  max-width: 20rem;
}

.annotation-bubble.tooltip.component .title {
  font-size: 1.1rem;
  font-weight: 500;
}

.annotation-bubble.tooltip.component p {
  font-size: 0.95rem;
  font-weight: 300;
}

/* SLIDERS */

@supports (grid-area: auto) {

  .slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 0.5rem;
    border-radius: 0.25rem;
    background: var(--prime_outline_trans_5);
    outline: none;
    opacity: 0.5;
  }

  .slider:hover,
  .slider:active,
  .slider:focus {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    cursor: pointer;
  }

  /* SLIDERS - VERTICAL */

  .slider-vertical {
    transform: rotate(270deg);
    height: 0.4rem;
    border-radius: 0.2rem;
    margin-top: 65px;
    margin-left: -70px;
    margin-right: -50px;
    width: 8rem;
  }
}

@media all and (-ms-high-contrast: none) {
  /* IE11 */
  g.mark-rule line {
    stroke: var(--prime_chart_axis_tick_text) !important;
  }

  g.mark-text text {
    fill: var(--prime_chart_axis_tick_text) !important;
  }

  .slider-vertical {
    visibility: hidden;
    display: none;
    margin: 0;
    border: 0;
  }

  .hidden-number {
    width: 4rem;
  }
}

#breakdown-selector {
  box-shadow: 1px 2px 3px 0 var(--prime_shadow_4);
  border-radius: 6px;
  border: 0;
  background: var(--prime_bg_2);
  padding: 6px;
  overflow: hidden;
  height: 200px;
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: visibility 200ms ease-out, opacity 200ms ease-out;
  margin: 5px 10px;
}

.option-select-menu-form input[type="search"] {
  display: block;
}

select[name="option-select-menu"] {
  border: 0;
  margin: 4px 0;
  width: 100%;
  height: calc(100% - 38px);
  background: var(--prime_bg_1_overlay);
}

select[name="option-select-menu"]:focus {
  outline: none;
}

.option-select-menu-form {
  height: 100%;
}

#breakdown-select-checkbox:checked ~ #breakdown-selector {
  visibility: initial;
  opacity: 1;
}

#breakdown-select-checkbox:not(:checked) ~ #breakdown-selector {
  visibility: hidden;
  opacity: 0;
}

.custom-checkbox {
  margin-left: 10px;
}

#breakdown-charts {
  min-height: 400px;
}

.summary-metric-value.inline {
  display: inline;
}
.summary-metric-change.inline {
  display: inline;
}

input.options-search {
  margin: 4px 6px;
  width: calc(100% - 36px);
}

.hidden-checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox-container {
  cursor: pointer;
}

.slider-ticks {
  display: flex;
  justify-content: space-between;
  padding: 0 7.5px;
}

.slider-ticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1px;
  height: 10px;
  line-height: 40px;
  margin: 0 0 20px 0;
  color: var(--prime_chart_axis_tick_text);
  font-size: 90%;
}

.slider-ticks p::after {
  position: absolute;
  content: '\'';
  top: -12px;
  color: var(--prime_chart_axis_ticks);
}

.datalist-visible {
  position: absolute;
  display: block;
  height: 0;
  width: calc(100% - 2 * var(--sidebar-width));
}

.datalist-visible option {
  position: absolute;
}

.datalist-visible option::before {
  pointer-events: none;
  position: absolute;
  content: '▼';
  font-size: 70%;
  top: -5px;
}

.datalist-visible option.detent-default::before {
  color: var(--prime_chart_axis_ticks);
}

.datalist-visible option.detent-highlight::before {
  color: var(--prime_interactive);
}

.link {
  text-decoration: underline;
  cursor: pointer;
  font-style: oblique;
  color: var(--prime_button);
}

.link:hover {
  color: var(--prime_button_hover);
}

.link:active {
  color: var(--prime_button_active);
}

#breakdown-num-selected {
  font-size: 75%;
}

#breakdown-close-btn {
  position: absolute;
  right: 8px;
  cursor: pointer;
  padding: 0 4px;
}

#breakdown-close-btn:hover {
  text-shadow: 0 1px var(--prime_bg_7_overlay);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.inline-svg {
  position: relative;
  fill: var(--prime_txt_body);
  stroke: var(--transparent);
  padding: 0;
  height: 14px;
  width: 14px;
  margin-left: 2px;
  transition: transform 200ms ease-out, rotate 200ms ease-out, margin 200ms ease-out;
}

.breakdown-select-indicator {
  transform: rotate(-90deg);
}

#breakdown-select-checkbox:checked + label .breakdown-select-indicator {
  transform: rotate(0deg);
  margin-bottom: -3px;
}