
/** -------- Shared Vars --------- */
#data_explorer {
  --title_bar_height: 3.4rem;
  --library_item_height: 2.4rem;
  --library_height: 25vh;
  --dataviz_height: 50vh;
  --corner_radius: 0.3rem;
  --button_corner_radius: 0.2rem;
}

#data_explorer {
  padding: 1vh 0.5vw 0 0.5vw;
  height: 100%;
}

#query_editor,
#query_library,
#query_visualisation {
  width: 99vw;
}


/** -------- Scrollbar Styling ---------- */
#data_explorer ::-webkit-scrollbar {
  width: 0.95rem;
  opacity: initial !important;
  display: initial !important;
  visibility: initial !important;
  height: initial !important;
}
 
#data_explorer ::-webkit-scrollbar-track {
  background-color: var(--color_transparent);
  border-radius: 4rem;
  background-clip: content-box;
  border: 0 solid var(--color_transparent);
  border-width: 0.3rem;
  opacity: initial !important;
  display: initial !important;
  visibility: initial !important;
  height: initial !important;
}
#data_explorer ::-webkit-scrollbar-track:hover {
  background-color: var(--prime_shadow_1);
}

#data_explorer ::-webkit-scrollbar-thumb {
  background-color: var(--prime_bg_7_overlay);
  border-radius: 4rem;
  background-clip: content-box;
  border: 0 solid var(--color_transparent);
  border-width: 0.3rem;
  cursor: pointer;
  opacity: initial !important;
  display: initial !important;
  visibility: initial !important;
  height: initial !important;
}

#data_explorer ::-webkit-scrollbar-thumb:hover {
  background-color: var(--prime_txt_body_faint);
}

#data_explorer ::-webkit-scrollbar-corner {
  background-color: var(--color_transparent);
}

.utc-time-notice {
  width: auto;
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 400;
  font-style: italic;
  color: var(--prime_txt_body_faint);
  position: absolute;
  right: 0.95rem;
  padding: 0.3rem 0.7rem 0.35rem 0.7rem;
  border-radius: 0 0 0.3rem 0.3rem;
  background-color: var(--prime_bg_2);
}


/* ======== Data Explorer Button ============ */
#data_explorer button {
  height: 1.6rem;
  line-height: 1.4rem;
  width: auto;
  float: left;
  font-size: 0.8rem;
  color: var(--prime_button_txt);
  background-color: var(--prime_button);
  border-radius: var(--button_corner_radius);
  border-width: 0;
  padding: 0 0.8rem;
  margin: 0 0 0 0.4rem;
  cursor: pointer;
}
#data_explorer button:hover {
  color: var(--prime_button_txt_hover);
  background-color: var(--prime_button_hover);
}
#data_explorer button:focus {
  outline: none;
}
#data_explorer button:active {
  color: var(--prime_button_txt_active);
  background-color: var(--prime_button_active);
}

#data_explorer button.disabled,
#data_explorer button[data-data-present=false] {
  color: var(--prime_button_txt_disabled);
  background-color: var(--prime_button_disabled);
  cursor: auto;
}
