.cm-s-akamai .cm-table {
  font-family: monospace;
  font-style: normal;
  text-transform: uppercase;
  color: var(--color_cm_table);
}
.cm-s-akamai .cm-column {
  font-family: monospace;
  font-style: normal;
  text-transform: uppercase;
  color: var(--color_cm_column);
}
.cm-s-akamai .cm-meta { color: var(--color_cm_meta); }
.cm-s-akamai .cm-atom { color: var(--color_cm_atom); }
.cm-s-akamai .cm-number { color: var(--color_cm_number); }
.cm-s-akamai .cm-def { color: var(--color_cm_def); }
.cm-s-akamai .cm-variable { color: var(--color_cm_variable); }
.cm-s-akamai .cm-variable-2 { color: var(--color_cm_variable_2); }
.cm-s-akamai .cm-variable-3,
.cm-s-akamai span.cm-type { color: var(--color_cm_variable_3); }
.cm-s-akamai .cm-property { color: var(--color_cm_property); }
.cm-s-akamai .cm-operator { color: var(--color_cm_operator); }
.cm-s-akamai .cm-comment { color: var(--color_cm_comment); }
.cm-s-akamai .cm-string { color: var(--color_cm_string); }
.cm-s-akamai .cm-string-2 { color: var(--color_cm_string_2); }
.cm-s-akamai .cm-qualifier { color: var(--color_cm_qualifier); }
.cm-s-akamai .cm-builtin { color: var(--color_cm_builtin); }
.cm-s-akamai .cm-bracket { color: var(--color_cm_bracket); }
.cm-s-akamai .cm-tag { color: var(--color_cm_tag); }
.cm-s-akamai .cm-attribute { color: var(--color_cm_attribute); }
.cm-s-akamai .cm-link { color: var(--color_cm_link); }
.cm-s-akamai .cm-error { color: var(--color_cm_error); }

.cm-s-akamai .cm-mpql-keyword,
.cm-s-akamai .cm-keyword {
  font-family: monospace;
  font-style: normal;
  text-transform: uppercase;
  color: var(--color_cm_keyword);
}
.cm-s-akamai .cm-mpql-function {
  font-family: monospace;
  font-style: normal;
  text-transform: uppercase;
  color: var(--color_cm_mpql_function);
}
.cm-s-akamai .cm-mpql-forbidden {
  font-family: monospace;
  font-style: italic;
  text-transform: uppercase;
  color: var(--color_cm_mpql_forbidden);
}
.cm-s-akamai .cm-mpql-datetime-clauses {
  font-family: monospace;
  font-style: normal;
  text-transform: uppercase;
  color: var(--color_cm_keyword);
}
.cm-s-akamai .cm-mpql-datetime-values {
  font-family: monospace;
  font-style: normal;
  text-transform: uppercase;
  color: var(--color_cm_mpql_datetime_values);
}

.cm-s-akamai .CodeMirror-activeline-background { background: var(--color_CodeMirror_activeline_background); }
.cm-s-akamai .CodeMirror-matchingbracket {
  outline: 1px solid var(--color_CodeMirror_matchingbracket_outline);
  color: var(--color_CodeMirror_matchingbracket_text) !important;
}