#akamai-logo-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 5rem;
}

#akamai-logo {
  width: 5rem;
}

#akamai-logo .color1 {
  fill: var(--logo_1);
}

#akamai-logo polygon,
#akamai-logo .white {
  fill: var(--logo_2) !important;
}