
body[data-akdv-datastory] .datastory-container {
  width: 100%;
  height: 100%;
  position: relative;
}

body[data-akdv-datastory] section {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

body[data-akdv-datastory] section > * {
  flex: 1;
}

body[data-akdv-datastory] article {
  padding: 0 1rem 60vh;
  margin: 0 auto;
  max-width: 40rem;
}

body[data-akdv-datastory] p {
  background-color: var(--prime_bg_1_overlay);
  color: var(--prime_txt_body_strong);
  font-size: 1.1rem;
  line-height: 1.8;
  margin: 0;
  padding: 1rem;
}

body[data-akdv-datastory] p:not(:last-of-type) {
  margin-bottom: 60vh;
}

body[data-akdv-datastory] section > figure {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
  top: 0;
  position: sticky;
}

body[data-akdv-datastory] section > figure[data-transition-type] > figure {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {

  body[data-akdv-datastory] section {
    display: block;
  }

  body[data-akdv-datastory] figure {
    position: static;
  }
}