.annotations {
  pointer-events: none;
}

.annotation-layer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.annotation-layer .component {
  padding: 1rem 0 1.5rem 0;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  border-radius: 0.15rem;
  background-color: var(--prime_bg_10_overlay);
  box-shadow: 0 0.15rem 0.5rem var(--prime_shadow_4);
}

.annotation-layer .component .title {
  margin: 0;
  padding: 0 1rem 1rem 1rem;
  font-size: 0.95rem;
  font-weight: 200;
  font-style: normal;
  line-height: 1rem;
  /* text-transform: capitalize; */
  text-align: center;
  max-width: 20rem;
  text-overflow: ellipsis;
  color: var(--prime_txt_heading);
  border-bottom: 1px solid var(--prime_bg_5_overlay);
}

.annotation-layer .component .title strong {
  font-weight: 200;
  line-height: 1rem;
  font-style: normal;
  color: var(--prime_txt_heading_strong);
}

.annotation-layer .simple-bubble .title {
  font-size: 0.75rem;
  line-height: 0.9rem;
}

.annotation-layer .component dl,
.annotation-layer .component ul {
  display: block;
  position: relative;
  color: var(--prime_txt_heading);
  margin: 0;
  padding: 0;
}

.annotation-layer .component dd,
.annotation-layer .component li {
  display: block;
  width: 100%;
  height: 1.5rem;
  margin: 0;
  padding: 0 1rem;
  line-height: 1.5rem;
  font-size: 0.75rem;
  font-weight: 200;
  font-style: italic;
  max-width: 20rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.annotation-layer .component li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  align-content: stretch;
}

.annotation-layer .component li span {
  flex-grow: 1;
  flex-basis: 50%;
  font-style: normal;
}

.annotation-layer .component li:nth-of-type(odd):not(:hover),
.annotation-layer .component dd:nth-of-type(odd):not(:hover) {
  background: var(--prime_bg_5_overlay);
}

.annotation-layer .component li:nth-of-type(even):not(:hover),
.annotation-layer .component dd:nth-of-type(even):not(:hover) {
  background: var(--prime_bg_3_overlay);
}

.annotation-layer .component li:last-of-type,
.annotation-layer .component dd:last-of-type {
  border-bottom: 1px solid var(--prime_bg_5_overlay);
}

.annotation-layer .component li span:last-of-type {
  text-align: right;
  padding-left: 2rem;
  color: var(--prime_txt_heading_strong);
}

.component[data-align-y="bottom"][data-align-x="left"] {
  transform-origin: 10% 0%;
}

.component[data-align-y="bottom"][data-align-x="middle"] {
  transform-origin: 50% 0%;
}

.component[data-align-y="bottom"][data-align-x="right"] {
  transform-origin: 90% 0%;
}

.component[data-align-y="top"][data-align-x="left"] {
  transform-origin: 10% 100%;
}

.component[data-align-y="top"][data-align-x="middle"] {
  transform-origin: 50% 100%;
}

.component[data-align-y="top"][data-align-x="right"] {
  transform-origin: 90% 100%;
}

.invisible .annotations .subject {
  stroke: var(--prime_outline_trans_9);
  opacity: 0;
  stroke-width: 1.3rem;
  transition: stroke 0s, stroke-width 0s;
}

.annotations .subject {
  stroke: var(--prime_outline_trans_8);
  stroke-width: 0.1rem;
  transition: opacity 0.1s linear 0.35s, stroke 1s linear 0.35s, stroke-width 0.25s ease-out 0.35s;
}

*:not(.invisible) .connector {
  stroke-dasharray: 1000, 1000;
  stroke-dashoffset: 1000;
  stroke: var(--prime_outline_trans_9);
  stroke-width: 1.5;
  animation: dashoff2 0.1s linear forwards 0.5s;
}

.invisible .connector {
  animation: none;
}

.annotations .annotation-note-title {
  font-size: 0.8rem;
  fill: var(--prime_txt_body_very_strong);
  fill-opacity: 1;
  stroke: var(--prime_bg_0_overlay);
  transition: stroke 0.3s ease-in-out 0.65s, fill-opacity 0.3s ease-in-out 0.65s;
}

.annotations .annotation-note-label {
  font-size: 0.55rem;
  letter-spacing: 0.075rem;
  fill: var(--prime_txt_body_very_strong);
  fill-opacity: 1;
  stroke: var(--prime_bg_0_overlay);
  transition: stroke 0.3s ease-in-out 0.75s, fill-opacity 0.3s ease-in-out 0.75s;
}

.annotations .annotation-note-title,
.annotations .annotation-note-label {
  paint-order: stroke;
  stroke-width: 0.25rem;
}

.annotations .note-line {
  display: none;
}

.invisible .annotations .annotation-note-label,
.invisible .annotations .annotation-note-title {
  fill-opacity: 0;
  stroke: var(--color_transparent);
  transition: stroke 0s, opacity 0s, fill-opacity 0s;
}

g[data-orientation-x="right"] .annotations .annotation-note-label,
g[data-orientation-x="right"] .annotations .annotation-note-title {
  text-anchor: end;
}

g[data-orientation-x="left"] .annotations .annotation-note-label,
g[data-orientation-x="left"] .annotations .annotation-note-title {
  text-anchor: start;
}

.axis-x-bottom-annotation-threshold-line {
  stroke-dasharray: 1, 3;
  stroke: var(--prime_outline_trans_6);
  stroke-width: 1;
  transition: stroke 0s, stroke-dasharray 0s;
  animation: none;
}

.axis-x-bottom-annotations text,
.axis-x-bottom-annotations rect,
.axis-x-bottom-annotations line {
  pointer-events: none;
}

.axis-x-bottom-annotation-threshold-line.over {
  stroke-dasharray: 4, 6;
  stroke: var(--prime_txt_body_semi_strong);
  transition: stroke 0.01s, stroke-dasharray 0.2s;
}

.axis-x-bottom-annotation-threshold-duration-rect {
  fill: var(--prime_bg_1_overlay);
}

.axis-x-bottom-annotation-threshold-duration-rect.over {
  fill: var(--prime_bg_2_overlay);
}

.axis-x-bottom-annotation-threshold-marker {
  stroke: var(--prime_outline_trans_1);
  stroke-width: 8;
  fill: var(--prime_outline_trans_4);
}

.axis-x-bottom-annotation-threshold-marker:hover {
  stroke: var(--prime_txt_body_strong);
  fill: var(--prime_txt_body_strong);
}

.axis-x-bottom-annotation-threshold-label {
  fill: var(--color_transparent) !important;
  stroke: var(--color_transparent) !important;
  paint-order: stroke;
  stroke-width: 0.25rem;
  font-size: 0.55rem !important;
  letter-spacing: 0.05rem !important;
}

.axis-x-bottom-annotation-threshold-label.over {
  fill: var(--prime_txt_body_strong) !important;
  stroke: var(--prime_bg_0_overlay) !important;
  transition: stroke 0.15s ease-in-out 0.2s, fill 0.15s ease-in-out 0.2s;
}
