/* ===== GENERAL LAYOUT ==== */
html,
body {
  width: 100%;
  min-width: 360px;
}

body:not(.scrolling) {
  height: 100%;
  overflow: hidden;
  position: fixed;
}

body[data-theme-initialized="false"] {
  visibility: hidden;
}

body {
  color: var(--prime_txt_body);
}

svg {
  overflow: visible;
}

*[id$="template"] {
  visibility: hidden;
  overflow: hidden;
  height: 0;
  width: 0;
  pointer-events: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
  height: 0 !important;
}

.no-diff,
.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
  line-height: 0 !important;
  opacity: 0 !important;
  color: var(--color_transparent) !important;
  border: none !important;
  stroke: var(--color_none) !important;
  fill: var(--color_none) !important;
  fill-opacity: 0 !important;
  overflow: hidden !important;
  pointer-events: none !important;
}

.disabled {
  pointer-events: none !important;
}

.fullscreen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

*[role="button"] {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

img.errored,
img[src="./images_sys/blank.gif"] {
  opacity: 0 !important;
}

ul {
  list-style: none;
}

ol {
  margin: 0;
  list-style-position: inside;
  list-style-type: decimal;
}

.scrollable-y {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

hgroup {
  margin-bottom: 2rem;
}

a {
  background-color: var(--color_transparent);
}

a[role="button"] {
  height: 2rem;
  font-size: 0.65rem;
  letter-spacing: 0.075rem;
  background: var(--sec_bg_7);
  border-radius: 0.15rem;
  cursor: pointer;
}

a[role="button"]:hover {
  background: var(--sec_bg_8);
}

a[role="button"] {
  padding: 0.5rem 1rem;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}