.chart-grid {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0.25rem 1.5rem 0 0;
  display: grid;
  grid-template-rows: 0 1fr 0;
  grid-template-columns: 0 1fr 0;
  grid-template-areas: "corner-tl axis-x-top corner-tr" "main main main" "corner-bl axis-x-bottom corner-br";
}

.chart-grid-axis-x-top {
  grid-area: axis-x-top;
}

.chart-grid-main {
  grid-area: main;
}

.chart-grid-axis-x-bottom {
  grid-area: axis-x-bottom;
}

.chart-grid > div {
  position: relative;
}

/* coordinate based flexible grid layout */

.grs-1 {
  grid-row-start: 1;
}
.gre-1 {
  grid-row-end: 1;
}

.grs-2 {
  grid-row-start: 2;
}
.gre-2 {
  grid-row-end: 2;
}

.grs-3 {
  grid-row-start: 3;
}
.gre-3 {
  grid-row-end: 3;
}

.gre-all {
  grid-row-end: -1;
}

.gcs-1 {
  grid-column-start: 1;
}
.gce-1 {
  grid-column-end: 1;
}

.gcs-2 {
  grid-column-start: 2;
}
.gce-2 {
  grid-column-end: 2;
}

.gcs-3 {
  grid-column-start: 3;
}
.gce-3 {
  grid-column-end: 3;
}

.gce-all {
  grid-column-end: -1;
}

/* flex layout for middle grid row */

.chart-row-flex {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  min-height: 100%;
}