.icon {
  display: block;
  position: absolute;
  top: 0.725rem;
  width: 0.6rem;
  height: 0.6rem;
}

svg[class*="icon"] {
  width: 100%;
  height: 100%;
  padding: 25%;
  fill: var(--color_none);
  stroke: var(--prime_txt_body_very_strong);
}

svg[class*="triangle"] {
  fill: var(--prime_txt_body_very_strong);
}

svg[class*="with-circle"] {
  border-radius: 50%;
  border: 0.1rem solid var(--prime_txt_body_very_strong);
}

svg[class*="positive"] {
  stroke: var(--color_value_change_positive);
  border-color: var(--color_value_change_positive);
}

svg[class*="negative"] {
  stroke: var(--color_value_change_negative);
  border-color: var(--color_value_change_negative);
}

svg[class*="triangle"][class*="positive"] {
  fill: var(--color_value_change_positive);
}

svg[class*="triangle"][class*="negative"] {
  fill: var(--color_value_change_negative);
}

/* close (simple pure css close icon) */

.close-icon {
  top: 0.725rem;
  overflow: hidden;
}

.close-icon::before,
.close-icon::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: calc(50% - 0.03rem);
  height: 107%;
  width: 0.06rem;
  background-color: var(--prime_outline_trans_2);
  transform: rotate(45deg);
}

.close-icon::after {
  transform: rotate(-45deg);
}

.close-icon-right {
  right: 0.5rem;
}

.close-icon-left {
  left: 0.5rem;
}

.close-icon:hover::before,
.close-icon:hover::after,
*:hover > .close-icon::before,
*:hover > .close-icon::after {
  background-color: var(--prime_outline_trans_4);
}

/* toggle (simple pure css checkbox) */

.toggle-icon {
  top: 0.75rem;
  background-color: var(--prime_bg_1_overlay);
  overflow: hidden;
}

.checked > .toggle-icon::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 30%;
  width: 37%;
  height: 90%;
  border: solid;
  border-color: var(--prime_chart_axis_label);
  border-width: 0 0.02rem 0.02rem 0;
  transform: rotate(33deg);
}

.toggle-icon-right {
  right: 0.5rem;
}

.toggle-icon-left {
  left: 0.5rem;
}

.toggle-icon:hover::before,
.toggle-icon:hover::after,
*:hover > .toggle-icon::before,
*:hover > .toggle-icon::after {
  border-color: var(--prime_chart_axis_label_strong);
}
