@media (max-width: 500px) {
  html,
  body {
    font-size: 10px;
  }
}

@media (min-width: 501px) and (max-width: 700px) {
  html,
  body {
    font-size: 1.9vw;
  }
}

@media (min-width: 701px) and (max-width: 800px) {
  html,
  body {
    font-size: 1.8vw;
  }
}

@media (min-width: 801px) and (max-width: 900px) {
  html,
  body {
    font-size: 1.7vw;
  }
}

@media (min-width: 901px) and (max-width: 1000px) {
  html,
  body {
    font-size: 1.5vw;
  }
}

@media (min-width: 1001px) and (max-width: 1100px) {
  html,
  body {
    font-size: 1.45vw;
  }
}

@media (min-width: 1101px) and (max-width: 1200px) {
  html,
  body {
    font-size: 1.4vw;
  }
}

@media (min-width: 1201px) and (max-width: 1500px) {
  html,
  body {
    font-size: 1.2vw;
  }
}

@media (min-width: 1501px) and (max-width: 1700px) {
  html,
  body {
    font-size: 1.1vw;
  }
}

@media (min-width: 1701px) and (max-width: 1800px) {
  html,
  body {
    font-size: 1vw;
  }
}

@media (min-width: 1801px) and (max-width: 1900px) {
  html,
  body {
    font-size: 0.95vw;
  }
}

@media (min-width: 1901px) and (max-width: 2000px) {
  html,
  body {
    font-size: 0.9vw;
  }
}

@media (min-width: 2001px) and (max-width: 2200px) {
  html,
  body {
    font-size: 0.85vw;
  }
}

@media (min-width: 2201px) and (max-width: 2300px) {
  html,
  body {
    font-size: 0.8vw;
  }
}

@media (min-width: 2301px) and (max-width: 2400px) {
  html,
  body {
    font-size: 0.75vw;
  }
}

@media (min-width: 2401px) and (max-width: 2500px) {
  html,
  body {
    font-size: 0.7vw;
  }
}

@media (min-width: 2501px) and (max-width: 2600px) {
  html,
  body {
    font-size: 0.7vw;
  }
}

/* IPAD */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  html,
  body {
    font-size: 1.47vw;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  html,
  body {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}