/*

styling for status indicator

*/

.status-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.status-wrapper[data-modal="true"] {
  position: fixed;
}

[data-fullscreen="false"] > .status-wrapper[data-modal="true"] {
  position: absolute;
}

.status-wrapper[data-show-blind="true"][data-show-status="true"] > .status-blind {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--prime_shadow_6);
  transition: background 0.25s ease-in 0.25s;
  pointer-events: all;
}

.status-wrapper[data-show-blind="true"][data-show-status="true"][data-closeable="true"] > .status-blind {
  cursor: pointer;
}

.status-wrapper:not([data-show-blind="true"]) > .status-blind {
  background: var(--color_transparent);
  transition: background 0.25s ease-in 0.25s;
}

.status-wrapper[data-show-status="true"] {
  opacity: 1;
  transition: opacity 0.25s ease-in 0s;
}

.status-wrapper:not([data-show-status="true"]) {
  opacity: 0;
  transition: opacity 0.25s ease-in 0.25s;
}

.status-wrapper,
.status-wrapper * {
  pointer-events: none;
}

.status {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-height: 60%;
  min-height: 4.5rem;
  max-width: 60%;
  min-width: 4.5rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0.5rem;
  background: var(--prime_bg_10_overlay);
}

.status-wrapper[data-modal="false"] .status {
  flex: 0 1 2rem;
  min-height: 2rem;
  max-height: 100%;
  max-width: 100%;
  min-width: 2rem;
  margin: 0;
  background: var(--color_transparent);
}


.status-wrapper[data-modal="true"] .status-inner {
  padding: 1rem;
  position: relative;
}

.status-wrapper[data-closeable="true"] .status::before {
  content: '❌';
  color: var(--color_transparent);
  text-shadow: 0 0 0 var(--prime_bg_10_overlay);
  position: absolute;
  font-size: 0.5rem;
  top: -1rem;
  right: -1rem;
  line-height: 1.5;
  text-align: center;
}

.status-inner .loading-spinner {
  display: block;
  float: left;
}

.status-wrapper[data-modal="true"] .loading-spinner {
  position: absolute;
  top: 0.75rem;
  left: 1rem;
  height: 2.5rem;
  width: 2.5rem;
}

.status-wrapper[data-modal="false"] .loading-spinner {
  height: 1.5rem;
  width: 1.5rem;
  transition: opacity 0.25s ease-in, width 0.25s ease-in-out;
}

.status-wrapper:not([data-show-spinner="true"]) .loading-spinner {
  width: 0;
  opacity: 0;
  transition: opacity 0.25s ease-in 0.15s, width 0.25s ease-in-out 0.2s;
}

.status-title {
  display: block;
  float: right;
  margin: 0.15rem 1rem 0 1rem;
  padding-left: 2.5rem;
  color: var(--prime_txt_heading_strong);
}

.status-title:empty,
.status-wrapper:not([data-show-spinner="true"]) .status-title {
  padding-left: 0;
  margin: 0;
  transition: padding-left 0.25s ease-in, margin 0.25s ease-in;
}

/* .status-wrapper:not([data-show-spinner="true"]) .status-title {
  text-align: center;
  float: none;
} */

.status-description {
  padding: 0 1rem 1rem;
  margin: 0;
  text-align: left;
  font-size: 0.9rem;
}

.status-description:empty {
  display: none;
}

.status-description pre {
  font-size: 0.75rem;
  line-height: 0.8rem;
  white-space: pre-wrap;
}

