:root {
  --dot_space: 1rem;
  --dot_size: 0.1rem;
  --sans_serif_regular_font_stack: "LatoLatinWeb", "LatoWeb", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
}