.custom-number-input-label {
  font-size: 0.65rem;
}

.custom-number-input::-webkit-inner-spin-button,
.custom-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input {
  -moz-appearance: textfield;
  text-align: right;
  appearance: none;
  border: 0;
  outline: 0;
  font-weight: bolder;
  color: var(--prime_txt_body_strong);
  background: var(--color_transparent);
}

.step-button,
.custom-number-input,
.custom-number-input-label .label-text-span {
  display: inline-block;
  margin: 0 0 0 0.15rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  line-height: 2rem;
  height: 2rem;
}

.custom-number-input-label .label-text-span {
  color: var(--prime_button_txt);
}

.step-button {
  width: 2rem;
  height: 2rem;
  text-align: center;
  cursor: pointer;
}