/*

styling for widget status indicator

*/

.akdv.help-system-container {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--help_overlay);
  overflow: hidden;
  cursor: pointer;
  z-index: 50;
  opacity: 0;
  transition: opacity 600ms, width 0ms 600ms, height 0ms 600ms;
}
body.help-displayed .akdv.help-system-container {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: opacity 400ms, width 0ms, height 0ms;
}



/* ============ Focus Shield ============= */
.focus-shield-group {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
}

.focus-shield-group .focus-shield-el {
  position: absolute;
  backdrop-filter: blur(6px);
}



.akdv.help-system-container .annotation-connector {
  z-index: 20;
}


/* ============ Muted Elements ============= */
.annotation-connector.muted svg {
  display: none;
}
.infoBox.muted {
  display: none;
}


/* ================= InfoBox =================== */
.akdv.help-system-container .infoBox {
  font-size: 0.65rem;
  line-height: 0.85rem;
  text-align: left;
  padding: 0.5rem 0.8rem 0.7rem 0.8rem;
  background: var(--help_infobox_field);
  border: 0.08rem solid var(--help_infobox_border);
  border-radius: 0.4rem;
  z-index: 20;
}
.akdv.help-system-container * {
  color: var(--help_txt);
}

.akdv.help-system-container .infoBox.priority-low {
  border: 0.08rem solid var(--help_infobox_border);
  border-radius: 0.4rem;
}
.akdv.help-system-container .infoBox.priority-medium {
  border: 0.08rem solid var(--help_infobox_border);
  border-radius: 0.3rem;
}
.akdv.help-system-container .infoBox.priority-high {
  border: 0.08rem solid var(--help_infobox_border);
  border-radius: 0.2rem;
}

.akdv.help-system-container .infoBox p {
  margin: 0;
}
.akdv.help-system-container .infoBox p:nth-child(n+2) {
  margin-top: 0.6rem;
}


.akdv.help-system-container .infoBox p strong {
  color: var(--help_txt_strong);
  font-weight: 600;
  font-style: normal;
}

.akdv.help-system-container .infoBox p em {
  color: var(--help_txt_semi_strong);
  font-weight: 400;
  font-style: italic;
}

.akdv.help-system-container .infoBox img {
  margin: 1.2rem auto 0 auto;
}



/* ========== Connector : Bracket =========== */
.akdv.help-system-container .connector-group .bracket.line {
  stroke: var(--help_connector_line);
  stroke-width: 0.076rem;
  z-index: 0;
}

.akdv.help-system-container .connector-group .bracket.line.left {
  stroke-dasharray: 1rem 0.1rem 0.4rem 0.1rem 0.3rem 0.1rem 0.2rem 0.1rem 0.1rem 0.1rem 0.1rem 0.1rem 0.05rem 0.125rem 0.025rem 3rem;
}

.akdv.help-system-container .connector-group .bracket.line.right {
  stroke-dasharray: 1rem 0.1rem 0.4rem 0.1rem 0.3rem 0.1rem 0.2rem 0.1rem 0.1rem 0.1rem 0.1rem 0.1rem 0.05rem 0.125rem 0.025rem 3rem;
}



/* ========== Connector : Line =========== */
.akdv.help-system-container .connector-group .disc-connector-line,
.akdv.help-system-container .connector-group .arrow-connector-line {
  stroke: var(--help_connector_line);
  stroke-width: 0.065rem;
  z-index: 0;
}



/* ========== Connector : Disc =========== */
.akdv.help-system-container .connector-group .disc {
  fill: var(--help_connector_highlight);
  stroke: var(--help_connector_outline);
  stroke-width: 0.05rem;
  z-index: 0;
}

/* ========== Connector : Arrow =========== */
.akdv.help-system-container .connector-group .arrow {
  fill: var(--help_connector_highlight);
  stroke: var(--help_connector_outline);
  stroke-width: 0.05rem;
  z-index: 0;
}



/* ============== Animated Transitions ============== */
.akdv.help-system-container .infoBox,
.akdv.help-system-container .annotation-connector g {
  opacity: 0;
  transition: opacity 500ms;
}

body.help-displayed .akdv.help-system-container .infoBox,
body.help-displayed .akdv.help-system-container .annotation-connector g {
  opacity: 1;
  transition: opacity 200ms;
}


body.help-displayed .akdv.help-system-container .infoBox.display-set-hidden,
body.help-displayed .akdv.help-system-container .annotation-connector.display-set-hidden g {
  opacity: 0;
  transition: opacity 500ms;
}

body.help-displayed .akdv.help-system-container .infoBox.help-init.display-set-hidden,
body.help-displayed .akdv.help-system-container .annotation-connector.help-init.display-set-hidden g {
  opacity: 0;
  transition: opacity 0ms;
}
