.option-select-menu-form select[data-checkboxes="true"] option:checked::before {
  content: ' ☑ ';
  font-weight: 600;
  font-size: 120%;
}
  
.option-select-menu-form select[data-checkboxes="true"] option:not(:checked)::before {
  content: ' ☐ ';
  font-weight: 600;
  font-size: 120%;
}