.percentile-input {
  position: absolute;
  display: block;
  margin: 0 0 0 0.35rem;
  width: 9.2rem;
  height: 2rem;
  border-radius: 0.15rem;
  overflow: hidden;
  background: var(--prime_bg_5_overlay);
}

.percentile-input > * {
  display: inline-block;
  height: 2rem !important;
  line-height: 2rem !important;
}

.percentile-input-step-button {
  margin: 0 !important;
}

.percentile-input .label-text-span {
  text-transform: none;
  font-weight: 200;
  font-style: italic;
  letter-spacing: normal;
  line-height: 1rem !important;
  color: var(--prime_txt_heading_semi_strong);
}

.percentile-input-step-button {
  color: var(--prime_button_txt_hover);
  background: var(--prime_button_not_current);
}

.percentile-input input {
  margin: 0 0 0 0.25rem;
  width: 1.5rem;
  color: var(--prime_txt_heading_semi_strong);
}

.percentile-input:hover input,
.percentile-input input:focus {
  color: var(--prime_txt_heading_strong);
}

.percentile-input-step-button.step-down {
  border-top-left-radius: 0.15rem;
  border-bottom-left-radius: 0.15rem;
}

.percentile-input-step-button.step-up {
  float: right;
  border-top-right-radius: 0.15rem;
  border-bottom-right-radius: 0.15rem;
}

.percentile-input-step-button:hover {
  color: var(--prime_button_txt_active);
  background: var(--prime_button_hover);
}