
.range {
  display: block;
  position: relative;
  width: 100%;
  height: 3rem;
  text-align: center;
  user-select: none;
  box-sizing: border-box;
}

.range input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  color: var(--prime_button);
  outline: none !important;
  -webkit-appearance: none;
}

.range-bar {
  display: block;
  position: absolute;
  top: -1px;
  left: 1px;
  width: 100%;
  height: 0.25rem;
  color: var(--prime_button);
}

.range output {
  position: relative;
  display: inline-block;
  top: -3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  padding: 0 0.5rem;
  min-width: 3rem;
  width: unset;
  border-bottom: 1px solid var(--prime_bg_6);
  background: var(--prime_bg_0_overlay);
  pointer-events: none;
}

.range.with-step-labels input:not(:focus) ~ output {
  opacity: 0;
}

.with-permanent-output output,
.range input:focus ~ output {
  opacity: 1;
}

/* -- THUMB -- */
.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  margin: -0.48rem 0 0 0;
  border-radius: 50%;
  background: var(--prime_bg_6);
  cursor: pointer;
  border: 1px solid var(--prime_bg_8);
  box-shadow: 0 0.1rem 1rem var(--prime_shadow_2);
}

.range input::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  margin: -0.5rem 0 0 0;
  border-radius: 50%;
  background: var(--prime_bg_6);
  cursor: pointer;
  border: 1px solid var(--prime_bg_8);
  box-shadow: 0 0.1rem 1rem var(--prime_shadow_2);
}

.range input::-ms-thumb {
  width: 1rem;
  height: 1rem;
  margin: -0.48rem 0 0 0;
  border-radius: 50%;
  background: var(--prime_bg_6);
  cursor: pointer;
  border: 1px solid var(--prime_bg_8);
  box-shadow: 0 0.1rem 1rem var(--prime_shadow_2);
}

.range input::-webkit-slider-thumb:hover {
  border: 1px solid var(--prime_bg_9);
  box-shadow: 0 0.2rem 1rem var(--prime_shadow_4);
}

.range input::-moz-range-thumb:hover {
  border: 1px solid var(--prime_bg_9);
  box-shadow: 0 0.2rem 1rem var(--prime_shadow_4);
}

.range input::-ms-thumb:hover {
  border: 1px solid var(--prime_bg_9);
  box-shadow: 0 0.2rem 1rem var(--prime_shadow_4);
}

/* -- TRACK -- */
.range input::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: var(--color_transparent);
  cursor: pointer;
  border: 1px solid var(--prime_bg_6);
  border-left-width: 2px;
  border-right-width: 2px;
  box-sizing: border-box;
}

.range input:focus::-webkit-slider-runnable-track {
  box-shadow: 0 0.05rem 0.35rem var(--prime_button_active_glow);
}

.range input::-moz-range-track {
  width: 100%;
  height: 5px;
  background: var(--color_transparent);
  cursor: pointer;
  border: 1px solid var(--prime_bg_6);
  box-sizing: border-box;
}

.range input::-moz-focus-outer {
  border: 0;
}

.range input:focus::-moz-range-track {
  box-shadow: 0 0 0.5rem var(--prime_button_active_glow);
}

.range input::-ms-track {
  width: 100%;
  height: 5px;
  background: var(--color_transparent);
  cursor: pointer;
  border: 1px solid var(--prime_bg_6);
  box-sizing: border-box;
}

.range input::-ms-track {
  width: 100%;
  cursor: pointer;
  background: var(--color_transparent);
  border-color: var(--color_transparent);
  color: var(--color_transparent);
}

.range input:focus::-ms-track {
  box-shadow: 0 0 0.5rem var(--prime_button_active_glow);
}

.range input:focus {
  background: var(--color_none);
  outline: none !important;
}

/* -- LABELS -- */
.range-label-text {
  margin: -0.25rem 0 0;
}

.with-step-labels .range-label-text {
  margin: 1.25rem 0;
}

.range-labels {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.range-labels li {
  position: relative;
  flex-grow: 1;
  align-self: center;
  height: 100%;
  padding-top: 0.5rem;
  text-align: center;
  font-size: 0.85rem;
  margin-left: -0.5rem;
  cursor: pointer;
}

.range-labels li:not(:first-child):not(:last-child)::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 0.125rem);
  width: 0;
  height: 0.25rem;
  border: 0 solid var(--color_transparent);
  border-left-width: 0.185rem;
  border-right-width: 0.185rem;
  border-bottom-width: 0.25rem;
  border-bottom-color: var(--prime_bg_6);
  box-sizing: border-box;
}

.range-labels li:hover {
  color: var(--prime_txt_heading_impact);
}

/* .range-labels .active {
  color: var(--prime_button);
}

.range-labels .selected::before {
  background: var(--prime_button);
}

.range-labels .active.selected::before {
  display: none;
} */