.reorderable-list {
  align-items: center;
  height: 2rem;
  overflow: hidden;
  justify-content: center;
}

.reorderable-list dt {
  margin: 0 0.5rem 0 0;
}

.reorderable-list dt,
.reorderable-list dd,
.reorderable-list label {
  position: relative;
  line-height: 2rem;
  height: 2rem;
  box-sizing: border-box;
  white-space: nowrap;
}

.reorderable-list label {
  display: block;
  position: relative;
}

.reorderable-list-item {
  background: var(--prime_button);
  padding: 0 0.25rem;
  margin: 0 0.25rem 0 0;
  border-radius: 0.15rem;
}

.reorderable-list-item:not([data-current="true"]) {
  background: var(--prime_button_not_current);
}

.reorderable-list-item span,
.reorderable-list-item input {
  margin: 0;
}

.reorderable-list dd {
  padding: 0;
}

.reorderable-list dd[data-first="true"] {
  padding-left: 0.75rem;
}

.reorderable-list dd[data-last="true"] {
  padding-right: 0.75rem;
}

.reorderable-list dd[data-up-disabled="true"] .step-up,
.reorderable-list dd[data-down-disabled="true"] .step-down,
.reorderable-list dd[data-disabled="true"] .step-up,
.reorderable-list dd[data-disabled="true"] .step-down {
  pointer-events: none;
}

.reorderable-list dd[data-last="true"] .step-up,
.reorderable-list dd[data-first="true"] .step-down {
  display: none;
}

.reorderable-list dd:not([data-last="true"]) {
  margin-right: 1.1rem;
}

.reorderable-list dd:not([data-first="true"])::before {
  content: ' ';
  box-sizing: border-box;
  position: absolute;
  display: block;
  top: 0;
  left: -1rem;
  height: 2rem;
  width: 2rem;
  border: 1.01rem solid transparent;
  border-top-color: var(--prime_button);
  border-bottom-color: var(--prime_button);
}

.reorderable-list dd:not([data-first="true"]):not([data-current="true"])::before {
  border-top-color: var(--prime_button_not_current);
  border-bottom-color: var(--prime_button_not_current);
}

.reorderable-list dd:not([data-last="true"])::after {
  content: ' ';
  box-sizing: border-box;
  position: absolute;
  display: block;
  top: 0;
  right: -1.94rem;
  height: 2rem;
  width: 2rem;
  border: 1.01rem solid transparent;
  border-left-color: var(--prime_button);
}

.reorderable-list dd:not([data-last="true"]):not([data-current="true"])::after {
  border-left-color: var(--prime_button_not_current);
}

.reorderable-list-item .step-button {
  float: left;
  text-align: center;
  color: var(--prime_button_txt);
  font-size: 0.75rem;
  box-sizing: border-box;
}

.reorderable-list-item .step-button:hover {
  color: var(--prime_button_txt_hover);
}

.reorderable-list-item .step-up {
  float: right;
}

.reorderable-list-item input {
  visibility: hidden;
  width: 0;
  padding: 0;
  margin: 0;
}

.reorderable-list-item .label-text-span {
  margin: 0;
}