
.stacked-area {
  cursor: pointer;
}

.stacked-area-line-annotation {
  pointer-events: none;
  stroke-width: 2;
  fill: var(--color_none) !important;
  transition: opacity 0.1s ease-in-out 0.1s;
}

.stacked-area-line-annotation.over {
  transition: opacity 0.1s ease-in-out 0s;
}

.chart-grid.banded-scale-item-selected .stacked-area-line-annotation:not(.over) {
  transition: opacity 0s ease-in-out 0s;
}

.stacked-area-line-annotation.invisible {
  transition: opacity 0s;
}

.chart-grid:not(.banded-scale-item-selected) .stacked-area-line-annotation:not(.invisible),
.chart-grid.banded-scale-item-selected .stacked-area-line-annotation.over:not(.invisible) {
  animation: dashoff 1s linear forwards;
}

.stacked-area .area {
  fill: var(--prime_bg_5);
  stroke: var(--prime_bg_0_overlay);
  stroke-width: 1;
  transition: stroke 0s, fill 0s, opacity 0s;
}

.stacked-area:not(:hover) .area {
  transition: stroke 0.2s ease-in-out, fill 0.2s ease-in-out;
}

.stacked-area.is-comparison .area {
  transition: opacity 0.2s ease-in-out;
}

.stacked-area-line-annotation,
.stacked-area.filter-over .area,
.chart-grid:not(.banded-scale-item-selected) .stacked-area.over .area,
.chart-grid:not(.banded-scale-item-selected) .stacked-area:hover .area {
  stroke: var(--prime_outline_trans_9);
}

.chart-grid:not(.banded-scale-item-selected):not(.is-comparison) .stacked-area.over .area {
  animation: dashoff 2s linear forwards;
}

.area.is-comparison {
  fill: var(--prime_bg_8_overlay) !important;
  fill-opacity: 1 !important;
  stroke: var(--prime_bg_9) !important;
  stroke-dasharray: 4 8;
  animation: none !important;
}

.stacked-area .new-values-comparison-line {
  stroke: var(--prime_bg_9) !important;
  stroke-width: 1.5;
  fill: var(--color_none);
}

.stacked-area .new-values-comparison-line,
.stacked-area.is-comparison .bg-mouse-event-rect {
  pointer-events: none !important;
}

.chart-grid.banded-scale-item-selected .stacked-area .new-values-comparison-line {
  stroke: var(--color_transparent) !important;
}

.chart-grid.banded-scale-item-selected .stacked-area.pinned .area.is-comparison,
.stacked-area.over .area.is-comparison {
  fill: var(--prime_bg_9_overlay) !important;
  stroke: var(--prime_txt_body_strong) !important;
  stroke-width: 1;
}

.chart-grid.banded-scale-item-selected .stacked-area.pinned .area,
.chart-grid:not(.banded-scale-item-selected) .stacked-area.over .new-values-comparison-line {
  stroke: var(--prime_txt_body_strong) !important;
}

.chart-grid.banded-scale-item-selected .stacked-area.pinned .area {
  stroke-width: 1.5;
  stroke: var(--prime_txt_body_strong);
}

.chart-grid.banded-scale-item-selected .new-values-comparison-line,
.chart-grid.banded-scale-item-selected .filter-to-single-type .stacked-area:not(.filter-over) .area.is-comparison,
.chart-grid.banded-scale-item-selected .filter-to-single-type .stacked-area:not(.filter-over) .new-values-comparison-line {
  fill: var(--color_transparent) !important;
  fill-opacity: 0 !important;
  stroke: var(--color_transparent) !important;
}

.filter-to-single-type .stacked-area.pinned:not(.filter-over) .area:not(.d3-transitioning):not(.is-comparison),
.filter-to-single-type .stacked-area:not(.filter-over) .area:not(.d3-transitioning):not(.is-comparison) {
  fill: var(--prime_outline_trans_0) !important;
  stroke: var(--prime_outline_trans_1) !important;
}

.stacked-area:not(:hover):not(.over) .area,
.filter-to-single-type .stacked-area .area {
  transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.chart-grid.is-comparison .stacked-area:not(.is-comparison) .area {
  fill-opacity: 0 !important;
}

.chart-grid:not(.banded-scale-item-selected).is-comparison .stacked-area:not(.is-comparison):not(.over):not(:hover) .area {
  opacity: 0.75;
}

.chart-grid.is-comparison .filter-to-single-type .stacked-area.filter-over .area:not(.is-comparison) {
  opacity: 0.9 !important;
}

.chart-grid.is-comparison .filter-to-single-type .stacked-area:not(.filter-over) .area:not(.d3-transitioning):not(.is-comparison) {
  opacity: 0.1 !important;
  transition: opacity 0.2s ease-in-out;
}

.chart-grid.banded-scale-item-selected.is-comparison .stacked-area.filtered-out .area.is-comparison {
  opacity: 0 !important;
}

.stacked-area .maskline {
  stroke: var(--prime_bg_1);
  stroke-width: 1.5;
  shape-rendering: auto;
}
